* {
    box-sizing: border-box;
    font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

textarea {
    font-size: 12px;
}
.main-layout{
    max-width: 1440px;
}